<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Estado del clima</title>
</head>

<body>
  <header id="nav">
    <nav>
      <ul>
        <li><img src="src/img/icono.png" alt="app_icon" width="50px"></li>
        <li>{{titulo}}</li>
      </ul>
    </nav>
  </header>

  <div id="clima">
    <label for="lat">Latitud</label>
    <label for="lat">Latitud</label><br>
    <input type="number" name="lat" v-model="lat">
    <input type="number" name="lon" v-model="lon">
    <button type="button" @click="obClima"> Consultar</button>  
    <hr>

    <div id="displayInfo">
      <h1>Datos del clima en {{nombreCiudad}}</h1>
  
      <p name="informacion">
        <span>Temperatura: <b>{{temperatura}}</b></span> <br>
        <span>Sensación térmica: <b>{{sensacion}}</b></span> <br>
        <span>Humedad: <b>{{humedad}}</b></span> <br>
        <span>Clima: <b>{{estadoClima}}</b></span> <br>
        <span>Descripcion: <b>{{descripcionClima}}</b></span>
      </p>
    </div>

  </div>
  
  


<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
<script src="js/01.js"></script>
</body>
</html>